<% @urls.each do |url| %>
<li><%=url.link%> - <%=url.random_string%>

<%= link_to "Edit", edit_url_path(url[:id]) %>

<%= link_to "Delete", url, method: :delete, data: { confirm: "Confirm Delete?" } %>

</li>
<% end %>
